In [ ]:
!pip install praw

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting praw
  Downloading praw-7.6.1-py3-none-any.whl (188 kB)
     |████████████████████████████████| 188 kB 5.6 MB/s
Collecting update-checker>=0.18
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Collecting prawcore<3,>=2.1
  Downloading prawcore-2.3.0-py3-none-any.whl (16 kB)
Collecting websocket-client>=0.54.0
  Downloading websocket_client-1.4.2-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 617 kB/s
Requirement already satisfied: requests<3.0,>=2.6.0 in /usr/local/lib/python3.8/dist-packages (from prawcore<3,>=2.1->praw) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (1.24.3)
Installing collected packages: websocket-client, update-checker, prawcore, praw
Successfully installed praw-7.6.1 prawcore-2.3.0 update-checker-0.18.0 websocket-client-1.4.2

In [ ]:
pip install pushshift.py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pushshift.py
  Downloading pushshift.py-0.1.2-py3-none-any.whl (9.9 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from pushshift.py) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->pushshift.py) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->pushshift.py) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->pushshift.py) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->pushshift.py) (3.0.4)
Installing collected packages: pushshift.py
Successfully installed pushshift.py-0.1.2

In [ ]:
# import other libs
import pandas as pd
import numpy as np

In [ ]:
import praw
from pushshift_py import PushshiftAPI

api = PushshiftAPI()

ModuleNotFoundError: ignored

In [ ]:
brands_df = pd.read_csv("sample_data/brands.csv")
brands_df.head()

                    0
0  Barnes &amp; Noble
1           VideoSecu
2               Epson
3                 NaN
4                Dell

In [ ]:
# remove NaN
brands_df = brands_df[brands_df['0'].notnull()]

In [ ]:
brands = list(brands_df['0'])

In [ ]:
brands_temp = ['acer', 'gopro', 'xiaomi']

In [ ]:
import datetime as dt
start_epoch = int(dt.datetime(2009,1,1).timestamp())
end_epoch = int(dt.datetime(2015,1,1).timestamp())

df = pd.DataFrame()
sub_lim = 50  # how many submissions do you want per iteration

for i in brands:
  results = list(api.search_submissions(before=end_epoch,
                                        after=start_epoch,
                                        q=i,
                                        filter=['title','selftext'],
                                        limit=sub_lim))
  df_new = pd.DataFrame(results)
  df_new = df_new.assign(brand = i)
  df = df.append(df_new)

In [ ]:
df

,created_utc,selftext,title,d_,created,brand
0,1.231224e+09,,b-practical's User Profile - Barnes &amp; Noble,"{'created_utc': 1231223745, 'selftext': '', 't...",1.231224e+09,Barnes &amp; Noble
1,1.232549e+09,,My MyWishList by Barbara Carr - Barnes &amp; N...,"{'created_utc': 1232548838, 'selftext': '', 't...",1.232549e+09,Barnes &amp; Noble
2,1.233053e+09,,rowenacherry's Library - Barnes &amp; Noble,"{'created_utc': 1233052947, 'selftext': '', 't...",1.233053e+09,Barnes &amp; Noble
3,1.234138e+09,[deleted],Had a coffee at this Barnes &amp; Noble and di...,"{'created_utc': 1234138180, 'selftext': '[dele...",1.234138e+09,Barnes &amp; Noble
4,1.234138e+09,[deleted],Had a coffee at this Barnes &amp; Noble and di...,"{'created_utc': 1234138226, 'selftext': '[dele...",1.234138e+09,Barnes &amp; Noble
...,...,...,...,...,...,...
6,1.414556e+09,,TabletExpress DragonTouch Y88 Tablet Unboxing,"{'created_utc': 1414555605, 'selftext': '', 't...",1.414556e+09,TabletExpress
7,1.414586e+09,,TabletExpress Dragon Touch A1X Tablet Unboxing...,"{'created_utc': 1414586311, 'selftext': '', 't...",1.414586e+09,TabletExpress
8,1.414636e+09,,TabletExpress Dragon Touch A1X Tablet Unboxing...,"{'created_utc': 1414635923, 'selftext': '', 't...",1.414636e+09,TabletExpress
9,1.414638e+09,,TabletExpress Dragon Touch A1X Tablet Unboxing...,"{'created_utc': 1414638243, 'selftext': '', 't...",1.414638e+09,TabletExpress
10,1.419904e+09,I don't know anything really about Tablets. I'...,Looking for first tablet,"{'created_utc': 1419904239, 'selftext': 'I don...",1.419904e+09,TabletExpress

In [ ]:
df2=df

In [ ]:
df['alltext'] = df['selftext'] + df['title']

In [ ]:
df.head()

,created_utc,selftext,title,d_,created,brand,alltext
0,1.231224e+09,,b-practical's User Profile - Barnes &amp; Noble,"{'created_utc': 1231223745, 'selftext': '', 't...",1.231224e+09,Barnes &amp; Noble,b-practical's User Profile - Barnes &amp; Noble
1,1.232549e+09,,My MyWishList by Barbara Carr - Barnes &amp; N...,"{'created_utc': 1232548838, 'selftext': '', 't...",1.232549e+09,Barnes &amp; Noble,My MyWishList by Barbara Carr - Barnes &amp; N...
2,1.233053e+09,,rowenacherry's Library - Barnes &amp; Noble,"{'created_utc': 1233052947, 'selftext': '', 't...",1.233053e+09,Barnes &amp; Noble,rowenacherry's Library - Barnes &amp; Noble
3,1.234138e+09,[deleted],Had a coffee at this Barnes &amp; Noble and di...,"{'created_utc': 1234138180, 'selftext': '[dele...",1.234138e+09,Barnes &amp; Noble,[deleted]Had a coffee at this Barnes &amp; Nob...
4,1.234138e+09,[deleted],Had a coffee at this Barnes &amp; Noble and di...,"{'created_utc': 1234138226, 'selftext': '[dele...",1.234138e+09,Barnes &amp; Noble,[deleted]Had a coffee at this Barnes &amp; Nob...

In [ ]:
df.drop(columns=['d_', 'created_utc', 'created'])

,selftext,title,brand,alltext
0,,b-practical's User Profile - Barnes &amp; Noble,Barnes &amp; Noble,b-practical's User Profile - Barnes &amp; Noble
1,,My MyWishList by Barbara Carr - Barnes &amp; N...,Barnes &amp; Noble,My MyWishList by Barbara Carr - Barnes &amp; N...
2,,rowenacherry's Library - Barnes &amp; Noble,Barnes &amp; Noble,rowenacherry's Library - Barnes &amp; Noble
3,[deleted],Had a coffee at this Barnes &amp; Noble and di...,Barnes &amp; Noble,[deleted]Had a coffee at this Barnes &amp; Nob...
4,[deleted],Had a coffee at this Barnes &amp; Noble and di...,Barnes &amp; Noble,[deleted]Had a coffee at this Barnes &amp; Nob...
...,...,...,...,...
6,,TabletExpress DragonTouch Y88 Tablet Unboxing,TabletExpress,TabletExpress DragonTouch Y88 Tablet Unboxing
7,,TabletExpress Dragon Touch A1X Tablet Unboxing...,TabletExpress,TabletExpress Dragon Touch A1X Tablet Unboxing...
8,,TabletExpress Dragon Touch A1X Tablet Unboxing...,TabletExpress,TabletExpress Dragon Touch A1X Tablet Unboxing...
9,,TabletExpress Dragon Touch A1X Tablet Unboxing...,TabletExpress,TabletExpress Dragon Touch A1X Tablet Unboxing...
10,I don't know anything really about Tablets. I'...,Looking for first tablet,TabletExpress,I don't know anything really about Tablets. I'...

In [ ]:
# Removing stopwords and punctuations

corpus1 = df['selftext']
corpus2 = df['title']
corpus3 = df['alltext']

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [ ]:
corpus_cleaned1 = []
corpus_cleaned2 = []
corpus_cleaned3 = []

#selftext
for text in corpus1:
    # Seperate text into individual words
    tokens = word_tokenize(text)
    
    # Remove the punctuations and numbers
    tokens = [word for word in tokens if word.isalpha()]

    # Lower the tokens
    tokens = [word.lower() for word in tokens]

    # Remove stopword
    tokens = [word for word in tokens if not word in stopwords.words("english")]

    # Stem the tokens
    ps = PorterStemmer()
    tokens = [ps.stem(w) for w in tokens]
    
    text_cleaned = " ".join(tokens)

    corpus_cleaned1.append(text_cleaned)

#title
for text in corpus2:
    # Seperate text into individual words
    tokens = word_tokenize(text)
    
    # Remove the punctuations and numbers
    tokens = [word for word in tokens if word.isalpha()]

    # Lower the tokens
    tokens = [word.lower() for word in tokens]

    # Remove stopword
    tokens = [word for word in tokens if not word in stopwords.words("english")]

    # Stem the tokens
    ps = PorterStemmer()
    tokens = [ps.stem(w) for w in tokens]
    
    text_cleaned = " ".join(tokens)

    corpus_cleaned2.append(text_cleaned)

#alltext
for text in corpus3:
    # Seperate text into individual words
    tokens = word_tokenize(text)
    
    # Remove the punctuations and numbers
    tokens = [word for word in tokens if word.isalpha()]

    # Lower the tokens
    tokens = [word.lower() for word in tokens]

    # Remove stopword
    tokens = [word for word in tokens if not word in stopwords.words("english")]

    # Stem the tokens
    ps = PorterStemmer()
    tokens = [ps.stem(w) for w in tokens]
    
    text_cleaned = " ".join(tokens)

    corpus_cleaned3.append(text_cleaned)

In [ ]:
df = df.assign(selftext_clean = corpus_cleaned1)
df = df.assign(title_clean = corpus_cleaned2)
df = df.assign(alltext_clean = corpus_cleaned3)

In [ ]:
df = df.drop(columns=['selftext', 'title', 'alltext','created_utc','d_','created'])

In [ ]:
df.head()

,brand,selftext_clean,title_clean,alltext_clean
0,Barnes &amp; Noble,,user profil barn amp nobl,user profil barn amp nobl
1,Barnes &amp; Noble,,mywishlist barbara carr barn amp nobl,mywishlist barbara carr barn amp nobl
2,Barnes &amp; Noble,,rowenacherri librari barn amp nobl,rowenacherri librari barn amp nobl
3,Barnes &amp; Noble,delet,coffe barn amp nobl discov charg wifi thru amp...,delet coffe barn amp nobl discov charg wifi th...
4,Barnes &amp; Noble,delet,coffe barn amp nobl discov charg wifi thru amp...,delet coffe barn amp nobl discov charg wifi th...

In [ ]:
df.to_csv('reddit_PushShiftAPI.csv')

In [ ]:
from google.colab import files
files.download("reddit_PushShiftAPI.csv")

In [ ]:
df = pd.read_csv('sample_data/reddit_PushShiftAPI.csv')

In [ ]:
corpus1 = df['title_clean']

In [ ]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

text_pos = []
text_neg = []
text_neu = []

# initiate an analyzer
sia = SentimentIntensityAnalyzer()

# iterate through each sentence in corpus
for sentence in corpus1:
    
    # analyze the sentiment. ss is a dictionary
    ss = sia.polarity_scores(sentence)
    
    # output each sentiment score (neg, neu, pos, compound) in ss
    text_pos.append(ss['pos'])
    text_neg.append(ss['neg'])
    text_neu.append(ss['neu'])

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

AttributeError: ignored

In [ ]:
df = df.assign(selftext_pos = text_pos)
df = df.assign(selftext_neg = text_neg)
df = df.assign(selftext_neu = text_neu)